<%- include('header')%>

<p>

    
    
    <span> Team: Milos Todorovic, Isidora Sipetic, Aleksandar Ilic, Tijana Sarajlija </span>
    
</p>

<div class="container-fluid img" >
    <div class="row">
        <div class="col-md-4 col-xs-6">
            <img src="model.png" style="width:1120px;height:1000px;"/>
        </div>
    </div>
</div>


<%- include('footer')%>